{% extends 'cosmetics/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="text-center my-5">
        <h2 class="display-4">{{ welcome_message }}</h2>
        <p class="lead">Відкрийте для себе найкращі продукти для догляду та краси.</p>
    </div>

    <div class="my-5">
        <h3 class="text-center mb-4">{{ featured_products_title }}</h3>
        <div class="product-grid">
            {% for product in products %}
                <div class="product-item">
                    <h3 class="text-primary">{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <a href="#" class="btn btn-outline-primary mt-2">Детальніше</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}