{% extends 'cosmetics/base.html' %} {# <--- ОБОВ'ЯЗКОВО! Наслідуємо базовий шаблон #}

{% block title %}{{ Товари }} - Мій Магазин Косметики{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Ласкаво просимо на {{ title }}!</h1>
        <p>Це приклад сторінки {{ title }}. Ви можете додати сюди будь-який вміст.</p>
        <a href="{% url 'index' %}" class="btn btn-secondary mt-3">Повернутися на головну</a> {# <--- ЗМІНЕНО: Посилання на index #}
    </div>
{% endblock %}